
---
import BaseLayout from '../layouts/BaseLayout.astro' ;
const pagetitle =  'タイトル';
import Prose from '../components/Prose.astro';
--- 
<BaseLayout pageTitle = {pagetitle}>

<Prose>
  <div class="max-w-3xl mx-auto mt-4 pt-2 pb-8 px-8 bg-white shadow-lg rounded-lg min-h-screen " >
      <h2 class = "mt-4">概要その他</h2>
      <img src="/path/to/icon.png" alt="アイコン" class="w-16 h-16 rounded-full">

      <h3>リンク
      </h3>
  <div class=" justify-center space-x-4 mb-4">
    <p>Twitter:
     <a href="https://x.com/shimaenaga_ITF" class="text-blue-500 hover:underline">
      @Shimaenaga_ITF
     </a>
    </p>

    <p>Github:
     <a href="https://github.com/temari1013" class="text-blue-500 hover:underline">
      @temari1013
     </a>
    </p>
  </div>
  </Prose>

</BaseLayout>
