---
import BaseLayout from '../layouts/BaseLayout.astro' ;
const pagetitle =  'タイトル';

--- 
<BaseLayout pageTitle = {pagetitle}>
  <h1 class="p-8 text-center text-blue-400 underline">
  Hello world!
</h1>

</BaseLayout>
