---
import Navigation from './Navigation.astro';
---
<header class ="flex justify-center items-center px-16 py-4 shadow-md">
 <nav class = "flex">
  <h1 class ="px-4 py-2 text-slate-700 text-2xl text-center font-semibold">Shimaena.ga</h1>
  <div class ="absolute right-0 pr-16">
   <Navigation class = "pr-16" />
  </div>
 </nav>
</header>
