---
import Navigation from './Navigation.astro';
---
<header class ="justify-center bg-white items-center px-16 py-4 shadow-md md:justify-between md:flex">
 
  <h1 class ="px-4 py-2 text-slate-700 text-2xl text-center font-semibold">しまえながの巣</h1>
  <div class ="absolute right-0 pr-16">
   <Navigation />
  </div>

</header>
