---
import Navigation from './Navigation.astro';
---
<header class ="flex justify-between items-center px-16 py-4  bg-gray-100 shadow-md">
 <nav class = "flex">
  <h1 class ="px-4 py-2 bg-slate-100 text-slate-700 text-2xl font-semibold">Shimaena.ga</h1>
  <div class ="absolute right-0 pr-16">
   <Navigation class = "pr-16" />
  </div>
 </nav>
</header>
