---

---

<div class="hidden md:flex">
  <a href="/" class="px-4 py-2 text-slate-700 text-xl font-semibold hover:text-blue-500 transition">ホーム</a>
  <a href="/about/" class="px-4 py-2 text-slate-700 text-xl font-semibold hover:text-red-500 transition">概要</a>
  <a href="/articles/" class="px-4 py-2 text-slate-700 text-xl font-semibold hover:text-green-500 transition">記事</a>
</div>
